
.icon-left-open-big:before { content: '\e80b'; } /* '' */
.icon-right-open-big:before { content: '\e80c'; } /* '' */
.icon-arrow-left:before { content: '\e83e'; } /* '' */
.icon-arrow-right:before { content: '\e83f'; } /* '' */
.icon-book:before { content: '\e840'; } /* '' */
.icon-coupon-1:before { content: '\e841'; } /* '' */
.icon-line-1:before { content: '\e842'; } /* '' */
.icon-search-1:before { content: '\e843'; } /* '' */
.icon-twitter:before { content: '\e844'; } /* '' */
.icon-fb:before { content: '\e845'; } /* '' */
.icon-youtube-1:before { content: '\e846'; } /* '' */
.icon-loginout:before { content: '\e847'; } /* '' */
.icon-cart-1:before { content: '\e848'; } /* '' */
.icon-person:before { content: '\e849'; } /* '' */
.icon-heart-1:before { content: '\e84a'; } /* '' */
.icon-cancel:before { content: '\e84b'; } /* '' */
.icon-tri:before { content: '\e84c'; } /* '' */
.icon-dollar:before { content: '\e84d'; } /* '' */
.icon-dialog:before { content: '\e84f'; } /* '' */
.icon-gotop:before { content: '\e850'; } /* '' */
.icon-location-1:before { content: '\e854'; } /* '' */
.icon-chevron-up:before { content: '\e900'; } /* '' */
.icon-chevron-down:before { content: '\e901'; } /* '' */
.icon-chevron-left:before { content: '\e902'; } /* '' */
.icon-chevron-right:before { content: '\e903'; } /* '' */
.icon-chevron-small-up:before { content: '\e904'; } /* '' */
.icon-chevron-small-down:before { content: '\e905'; } /* '' */
.icon-chevron-small-left:before { content: '\e906'; } /* '' */
.icon-chevron-small-right:before { content: '\e907'; } /* '' */
.icon-file-text:before { content: '\e908'; } /* '' */
.icon-coupon:before { content: '\e909'; } /* '' */
.icon-coin:before { content: '\e90a'; } /* '' */
.icon-start-o:before { content: '\e90b'; } /* '' */
.icon-log-out:before { content: '\e90c'; } /* '' */
.icon-play:before { content: '\e90d'; } /* '' */
.icon-facebook:before { content: '\e90e'; } /* '' */
.icon-instagram:before { content: '\e90f'; } /* '' */
.icon-youtube:before { content: '\e910'; } /* '' */
.icon-line:before { content: '\e911'; } /* '' */
.icon-send:before { content: '\e912'; } /* '' */
.icon-cart:before { content: '\e913'; } /* '' */
.icon-heart:before { content: '\e914'; } /* '' */
.icon-play-filled:before { content: '\e915'; } /* '' */
.icon-delete:before { content: '\e916'; } /* '' */
.icon-star:before { content: '\e917'; } /* '' */
.icon-star-o:before { content: '\e918'; } /* '' */
.icon-plus:before { content: '\e919'; } /* '' */
.icon-minus:before { content: '\e91a'; } /* '' */
.icon-grid:before { content: '\e91b'; } /* '' */
.icon-list:before { content: '\e91c'; } /* '' */
.icon-sort:before { content: '\e91d'; } /* '' */
.icon-link:before { content: '\e91e'; } /* '' */
.icon-time:before { content: '\e91f'; } /* '' */
.icon-close:before { content: '\e920'; } /* '' */
.icon-chevrons-left:before { content: '\e921'; } /* '' */
.icon-chevrons-right:before { content: '\e922'; } /* '' */
.icon-checkmark:before { content: '\e923'; } /* '' */
.icon-dots:before { content: '\e924'; } /* '' */
.icon-alarm:before { content: '\e925'; } /* '' */
.icon-icon-shopping-bag:before { content: '\e926'; } /* '' */
.icon-star-o-half:before { content: '\e927'; } /* '' */
.icon-calendar:before { content: '\e928'; } /* '' */
.icon-clock:before { content: '\e929'; } /* '' */
.icon-help-circle:before { content: '\e92a'; } /* '' */
.icon-alert-circle:before { content: '\e92b'; } /* '' */
.icon-alert-circle-fill:before { content: '\e92c'; } /* '' */
.icon-contact:before { content: '\e92d'; } /* '' */
.icon-search:before { content: '\e92e'; } /* '' */
.icon-checkmark-outline:before { content: '\e92f'; } /* '' */
.icon-check-square:before { content: '\e930'; } /* '' */
.icon-pencil:before { content: '\e931'; } /* '' */
.icon-plus-2:before { content: '\e932'; } /* '' */
.icon-minus-2:before { content: '\e933'; } /* '' */
.icon-cog:before { content: '\e934'; } /* '' */
.icon-view:before { content: '\e935'; } /* '' */
.icon-close-2:before { content: '\e936'; } /* '' */
.icon-checkmark2:before { content: '\e937'; } /* '' */
.icon-location:before { content: '\e938'; } /* '' */
.icon-globe:before { content: '\e939'; } /* '' */
.icon-user:before { content: '\e93a'; } /* '' */
.icon-gift:before { content: '\e93b'; } /* '' */
.icon-file:before { content: '\e93c'; } /* '' */
.icon-view2:before { content: '\e93d'; } /* '' */
